<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Tremble</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>tremble.dating.app</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.442962390280-6qd7h0n5hetk6iv4norsl5bnghi7gqod</string>
					<string>com.googleusercontent.apps.343655004163-dv5k1tev5h39cg4kn0r078hksid53bhh</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FirebaseAppCheckDebugToken</key>
		<string>31C971EB-C133-4C47-92D4-A790B093D2FF</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>Tremble requires Bluetooth to calibrate signals and detect proximity with other nearby devices passively.</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>Tremble requires Bluetooth to maintain proximity detection with nearby signals.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Tremble finds other signals nearby even when your phone is in your pocket. This is how we find your next connection.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Tremble finds other signals nearby even when your phone is in your pocket. This is how we find your next connection.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Tremble uses your location to find potential matches nearby.</string>
		<key>NSMotionUsageDescription</key>
		<string>Tremble uses your device's motion sensors to intelligently activate and deactivate Run Club, conserving battery when you are stationary.</string>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneClassName</key>
						<string>UIWindowScene</string>
						<key>UISceneConfigurationName</key>
						<string>flutter</string>
						<key>UISceneDelegateClassName</key>
						<string>FlutterSceneDelegate</string>
						<key>UISceneStoryboardFile</key>
						<string>Main</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>UIApplicationShortcutItems</key>
		<array>
			<dict>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypeSearch</string>
				<key>UIApplicationShortcutItemSubtitle</key>
				<string>Toggle radar on/off</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Radar</string>
				<key>UIApplicationShortcutItemType</key>
				<string>app.tremble.radar.toggle</string>
			</dict>
		</array>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>location</string>
			<string>bluetooth-central</string>
			<string>bluetooth-peripheral</string>
			<string>fetch</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
